---
interface Props {
	image: string
	link: string
	title: string
	description: string
	tags: string[]
}
const { image, link, title, description, tags } = Astro.props
---

<a class="card" href={link} title={`Go to ${title}`}>
	<img src={image} alt="" class="" />
	<div class="p-4">
		<h3 class="text-lg">{title}</h3>
		<p class="text-faded">
			{description}
		</p>
		<ul class="flex gap-x-6 tags">{tags.map((tag: string) => <li>{tag}</li>)}</ul>
	</div>
</a>

<style>
	.tags {
		margin-top: 0.5rem;
	}
	a {
		border-radius: 0.5rem;
		box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
		border: 2px solid;
		cursor: pointer;
		transition: all;
		transition-duration: 300ms;
		transition-timing-function: ease-in;
	}
	a:hover {
		border-color: hsl(var(--dark-text));
	}
	a:hover h3 {
		color: hsl(var(--accent));
	}
	img {
		width: 100%;
		object-fit: cover;
		border-radius: 0.5rem 0.5rem 0rem 0rem;
		aspect-ratio: 1/1;
		max-height: 10rem;
	}

	@media (min-width: 748px) {
		img {
			max-height: 14rem;
		}
	}
</style>
